.espace-menu{
    display : flex;
    margin : 0 auto;
    flex-direction : column;
    width : 30%;
    height : 200px;
    justify-content : center;
    align-items : center;
}

#espace-admin{
    overflow: hidden;
    border : none;
    width : 100%;
    padding : 10px;
    background-color: #4d047e;
    color : white;
    cursor : pointer;
}

#espace-admin:hover{
    background-color: #1a3e5c;
}

.auth-field{
    display : flex;
    flex-direction : column;
}

.auth-valid{
    display : flex;
    flex-direction : row;
    width : 100%;
    border : none;
    padding : 5px;
    justify-content : center;
    cursor : pointer
}

.auth-valid:hover{
    background-color: grey;
}

.hidden{
    display :none;
}